:root {
    background-color: #f5e9de;
    margin: auto;
    /* background-image: url(./images/background.png); */
}

.main-style {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    font-family: Tahoma, Verdana, sans-serif;
    /* margin: 100px 50px 0px 10px; */
    width: 100%;
    /* padding: 100% 100PX 20px 10px; */
    
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-content: center;
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-content: center;
    margin: 0px 50px 50px 100px;
    padding: 50px;
    /* border: 1px solid darkgrey; */
    border-radius: 0px 20px 20px 20px;
    background-color: white;
    box-shadow: 7px 7px 15px rgba(55, 84, 170,.15),
    inset 0px 0px 4px rgba(255, 255, 255,.2);
    width: 100%;
}

.card-body {
    margin: 10px;
    padding: 10px;
    text-align: center;
    border: 1px solid darkgrey;
    border-radius: 20px;
    background-color: white;
    align-self: center;

}

.card-body-details {
    position: center;
    width: 50%;
    margin-left: 400px;
    margin-top: 100px;
    padding: 50px;
    text-align: center;
    border-radius: 20px;
    background-color: white;
    align-self: center;
    box-shadow: 7px 7px 15px rgba(55, 84, 170,.15),
    inset 0px 0px 4px rgba(255, 255, 255,.2);
}

.side-nav {
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: fixed;
    width: 350px;
    margin-top: 100px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 7px 7px 15px rgba(55, 84, 170,.15),
    inset 0px 0px 4px rgba(255, 255, 255,.2);

}

.inline-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: center;
}

.button-style {
    background-color: #400a58;
    border: none;
    border-radius: 20px;
    color: white;
    margin: 10px;
    padding: 10px 20px 10px 20px;
    text-align: center;
    text-decoration: none;
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 12px;
    margin: 10px 10px;
    cursor: pointer;
    box-shadow: 7px 7px 15px rgba(55, 84, 170,.15),
    inset 0px 0px 4px rgba(255, 255, 255,.2);

}

.category-button {
    display: flex;
    flex-direction: column;
    margin: 500px auto 20px 50px;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    width: 100px;
}

.body-button-style {
    display: flex;
    flex-direction: column;

    background-color: #400a58;
    border: none;
    border-radius: 10px;
    color: white;
    margin: 10px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-family: Tahoma, Verdana, sans-serif;
    display: inline-block;
    font-size: 16px;
    margin: 10px 10px;
    cursor: pointer;

}


.label {
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid darkgrey;
     display: inline-block;
     width: 50px;
     height: 30px;
}

.edit-name-label {
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid darkgrey;
     display: inline-block;
     width: 150px;
     height: 30px;
}

.my-event-label {
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid darkgrey;
     display: inline-block;
     width: 200px;
     height: 30px;
}

.visualized-category {
    text-align: center;
    color: #400a58;
    border: 1px solid white;
    background-color: white;
    border-radius: 20px 20px 0px 0px;
    width: 20%;
    margin-inline-start: 100px;
    margin-top:100px;
}

@media screen and (max-width: 1800px){
    .card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        align-content: center;
        margin: 0px 50px 50px 400px;
        padding: 50px;
        /* border: 1px solid darkgrey; */
        border-radius: 0px 20px 20px 20px;
        background-color: white;
        box-shadow: 7px 7px 15px rgba(55, 84, 170,.15),
        inset 0px 0px 4px rgba(255, 255, 255,.2);
        width: 80%;
    }

    .visualized-category {
        text-align: center;
        color: #400a58;
        border: 1px solid white;
        background-color: white;
        border-radius: 20px 20px 0px 0px;
        width: 30%;
        margin-inline-start: 400px;
        margin-top:100px;
    }
    .main-style {
        display: grid;
        flex-direction: column;
        justify-content: space-between;
        font-family: Tahoma, Verdana, sans-serif;
        width: 50%;
        
    }
    .side-nav {
        display: flex;
        flex-direction: column;
        padding: 20px;
        position: fixed;
        width: 350px;
        margin-top: 100px;
        border-radius: 20px;
        background-color: white;
        box-shadow: 7px 7px 15px rgba(55, 84, 170,.15),
        inset 0px 0px 4px rgba(255, 255, 255,.2);
    
    }
    .card-body-details {
        position: center;
        width: 50%;
        margin-left: 350px;
        margin-top: 100px;
        padding: 50px;
        text-align: center;
        border-radius: 20px;
        background-color: white;
        align-self: center;
        box-shadow: 7px 7px 15px rgba(55, 84, 170,.15),
        inset 0px 0px 4px rgba(255, 255, 255,.2);
    }
    
  }

@media screen and (max-width: 1300px){
    .card {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        align-content: center;
        margin: 0px 50px 50px 400px;
        padding: 50px;
        /* border: 1px solid darkgrey; */
        border-radius: 0px 20px 20px 20px;
        background-color: white;
        box-shadow: 7px 7px 15px rgba(55, 84, 170,.15),
        inset 0px 0px 4px rgba(255, 255, 255,.2);
        width: 80%;
    }
    .visualized-category {
        text-align: center;
        color: #400a58;
        border: 1px solid white;
        background-color: white;
        border-radius: 20px 20px 0px 0px;
        width: 50%;
        margin-inline-start: 400px;
        margin-top:100px;
    }
    .main-style {
        display: grid;
        flex-direction: column;
        justify-content: space-between;
        font-family: Tahoma, Verdana, sans-serif;
        /* margin: 100px 50px 0px 10px; */
        width: 50%;
        /* padding: 100% 100PX 20px 10px; */
        
    }
    .side-nav {
        display: flex;
        flex-direction: column;
        padding: 20px;
        position: fixed;
        width: 350px;
        margin-top: 100px;
        border-radius: 20px;
        background-color: white;
        box-shadow: 7px 7px 15px rgba(55, 84, 170,.15),
        inset 0px 0px 4px rgba(255, 255, 255,.2);
    
    }
    .card-body-details {
        position: center;
        width: 50%;
        margin-left: 200px;
        margin-top: 100px;
        padding: 50px;
        text-align: center;
        border-radius: 20px;
        background-color: white;
        align-self: center;
        box-shadow: 7px 7px 15px rgba(55, 84, 170,.15),
        inset 0px 0px 4px rgba(255, 255, 255,.2);
    }
  }

  @media screen and (max-width: 1000px){
    .card {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        align-content: center;
        margin: 0px 50px 50px 50px;
        padding: 50px;
        /* border: 1px solid darkgrey; */
        border-radius: 0px 20px 20px 20px;
        background-color: white;
        box-shadow: 7px 7px 15px rgba(55, 84, 170,.15),
        inset 0px 0px 4px rgba(255, 255, 255,.2);
        width: 100%;
    }
    .visualized-category {
        text-align: center;
        color: #400a58;
        border: 1px solid white;
        background-color: white;
        border-radius: 20px 20px 0px 0px;
        width: 100%;
        margin-inline-start: 50px;
        margin-top:100px;
    }
    .main-style {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: Tahoma, Verdana, sans-serif;
        /* margin: 100px 50px 0px 10px; */
        width: 50%;
        /* padding: 100% 100PX 20px 10px; */
        
    }
    .side-nav {
        display: flex;
        flex-direction: column;
        padding: 20px;
        position: relative;
        width: 350px;
        margin-top: 100px;
        margin-left: 50px;
        border-radius: 20px;
        background-color: white;
        box-shadow: 7px 7px 15px rgba(55, 84, 170,.15),
        inset 0px 0px 4px rgba(255, 255, 255,.2);
    
    }

    .card-body-details {
        position: center;
        width: 50%;
        margin-left: 50px;
        margin-top: 100px;
        padding: 50px;
        text-align: center;
        border-radius: 20px;
        background-color: white;
        align-self: center;
        box-shadow: 7px 7px 15px rgba(55, 84, 170,.15),
        inset 0px 0px 4px rgba(255, 255, 255,.2);
    }
  }