/* .calendar-card {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 3fr;
} */

.calendar-style {
    width: 350px;
    height:400px;
    max-width: 100%;
    border: 0px;
    border-radius: 20px;
    box-shadow: 7px 7px 15px rgba(55, 84, 170,.15),
    inset 0px 0px 4px rgba(255, 255, 255,.2);
    font-family: Tahoma, Verdana, sans-serif;
    line-height: 2em;
  }
  
  .right-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    margin: 310px auto;
  }

  .button-calendar {
    display: flex;
    background-color: #400a58;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-family: Tahoma, Verdana, sans-serif;
    /* display: inline-block; */
    font-size: 16px;
    margin: 10px 10px;
    cursor: pointer;
    box-shadow: 7px 7px 15px rgba(55, 84, 170,.15),
    inset 0px 0px 4px rgba(255, 255, 255,.2);
    display: flex;

    
}

.react-datepicker-popper {
  border-radius: 20px;
}

.react-datepicker__day--today {
  background-color: #400a58;
}